.box-1 {
    border: 5px solid green;
    background: #E5E5E5;
    position: relative;
    width: 1600px;
    height: 1200px;
   
}


.box-2 {
    position: absolute;
    height: 830px;
    width: 1213px;

    top:173px;
    left: 193px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;


    background: #FFFFFF;
    border: 5px solid red;

    font-family: Merriweather;
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

.Menu-bar {
    display: flex;
    justify-content: flex-end;
    
    

}

.Menu-bar {
    weight:500;
    size: 16px;
    line height: 24px;
    text-align: center;
}
