.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    background-color: #1a1c28;
    

}

.item {
    width: 100px;
    height: 100px;
}

.violet {
    order: ;
    background-color: violet;
    flex-grow: 1;
}

.orange {
    flex-grow: 8;
    background-color: orange;

}

.green {
    order: ;
    background-color: green;
    flex-grow: 3;
}